<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find ros_diff_drive)/urdf/m2xr.xacro'"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.5"/>
  <arg name="model" default="$(find ros_diff_drive)/urdf/m2xr.xacro"/>

  <include file="$(find ros_diff_drive)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

<!-- Not needed for simulation purposes -  differential_drive_controller from gazebo_macros.gazebo used instead-->
<!--
  <rosparam command="load"
    file="$(find ros_diff_drive)/config/diff_drive.yaml"
    ns="m2xr_diff_drive_controller" />
-->

  <node name="m2xr_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model m2xr -x $(arg x) -y $(arg y) -z $(arg z)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

	<node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"  name="joint_state_publisher_gui">
	</node>

<!-- Not needed for simulation purposes -  differential_drive_controller from gazebo_macros.gazebo used instead-->
<!-- 
  <node name="m2xr_controller_spawner" pkg="controller_manager" type="spawner"
    args="m2xr_diff_drive_controller"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/m2xr_diff_drive_controller/cmd_vel"/>
  </node>
-->

</launch>
